{% extends 'base.html' %}

{% block content %}

    <h3 class="txt-color pt-3 pb-3">Магазин</h3>

    {#    <form action="{% url 'search' %}" class="mb-3 mr-5 text-left">#}
    {#        {% csrf_token %}#}
    {#        {{ search_form.search }}#}
    {#        <input type="submit" value="Найти" class="btn-custom btn mb-1">#}
    {#    </form>#}

    {% if products %}
        <div class="d-flex mb-3">
            <div class="d-flex justify-content-around container flex-wrap">
                {% for product in products %}
                    <div class="d-flex mt-3" style="width: 40%; height: 250px; font-size: 14px">
                        <div class="card w-50 pt-3">
                            <img src='{{ product.photo }}' style="height: 200px;">
                        </div>
                        <div class="card w-50 bg-light">
                            <div class="h-50 rounded aqua"
                            >
                                <h5 class="card-title mt-1 ml-2 fw-bold"
                                    style="font-size: 18px;">{{ product.product }}</h5>
                            </div>
                            <p style="font-size: 16px;" class="card-text ml-2 h-25">{{ product.get_category_display }}</p>
                            <h3 class="card-text ml-2 fw-bold h-25" style="font-size: 21px">${{ product.price }}</h3>
                            <div>
                                <a href="{% url 'main' %}"
                                   class="btn aqua mt-3 mb-2 ml-2">
                                    Подробнее
                                </a>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <p class="mt-5 ml-3 fw-bold">Список продуктов пуст</p>
    {% endif %}

{% endblock %}